{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}

{{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
<h1>Burger App!</h1>

{{!-- burgers that user lists --}}
<h2>Eat Burger</h2>


<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{!-- {{> Burger/burger-block burger=true}} --}}

  <form class="create-form" method="post" action="/api/devoured/{{id}}">
          {{name}} 
<button type="submit">Devourer</button>
  </form>

    {{/unless}}
  {{/each}}
</ul>

{{!-- burgers that have been devoured --}}
<h2>Devoured Burgers</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{!-- {{> Burgers/burger-block burger=false}} --}}
            {{name}}
    {{/if}}
  {{/each}}
</ul>


<h2>Add a Burger</h2>
<form class="create-form" method="post" action="/api/burgers">

  <div class="form-group">
    <label for="ca">Burger:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Submit</button>
  </form>